
<body>
    
  <div class="title">
    <h1>Agent Mini-Games</h1>
  </div>

  <div class="games-container">

    <div class="game-card">
        <div>
            <h2>Who's That Agent?</h2>
            <p>Look at the face and guess the agent’s name.</p>
        </div>
        <div>
            <button class="btn"  routerLink="/game-agent">Play</button>

        </div>
    </div>

    <div class="game-card">
     <div>
        <h2>Which Ability?</h2>
        <p>Which agent has this ability? Can you guess?</p>
     </div>
     <div>
        <button class="btn"  routerLink="/game-ability-parent">Play</button>

     </div>
    </div>

    

  </div>
</body>
