<body>

    <h2>Our Team</h2>
    <div class="developer-container">
        <div class="developer-card">
            <h3>KAIZEN</h3>
            <img src="IMG_20250429_083929.jpg" alt="CodeStorm">
            <p class="role">Autist tac</p> 
            <p>aka Lucas Gumuchian</p>
        </div>
        <div class="developer-card">
            <h3>TH</h3>
            <img src="20250324_133024.jpg" alt="Pixela">
            <p class="role">Autist tic</p>
            <p>aka Thomas Casimir</p>
        </div>
    </div>

    <div class="about-container">
        <h2>Want to Know More? 🧠</h2>
        <p>You can check out our project on GitHub! You'll find our <strong>README</strong> with more details, setup instructions, and features.</p>
        <div class="text-center">
            <a href="https://github.com/DarkLyx/Projet-Valorant.git" target="_blank">
                <button class="btn btn-danger">View GitHub Repository</button>
            </a>
        </div>

    </div>

</body>
