<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<!-- Affichage des maps en général -->
<!-- Ici on affiche toutes les maps, on peut cliquer sur une map pour avoir plus d'infos sur celle-ci  -->
<body>
    <div class="title">
        <p>Valorant Maps</p>
    </div>
      <div class="row">
        @for (item of mapsData; track item.id) {
            <div class="col-3">
                <div class="row">
                    <div style="padding: 3% 0" class="col-12 d-flex justify-content-center">
                        <div class="imageMap" (click)="selectMap(item.id)">
                            <img class="grows rounded-image"  loading="lazy" [src]="item.image" height="200px" />
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <div>{{ item.name }}</div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

</html>